<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body style="font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;">
<div style="padding: 10%;">
    <a style="background-color: #22b0df;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;" href="home_page">ENTER VENDER DETAILS</a>
</div>
<div style="padding: 10%;">
    <a style="background-color: #22b0df;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;" href="purchase_order">PURCHASSE ORDER</a>
</div>
<div style="padding: 10%;">
    <a style="background-color: #22b0df;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;" href="vender_page">PERFORMANCE METRIC</a>
</div>
</body>
</html>